<!DOCTYPE html>
<html ng-app="noteApp">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body ng-controller="MainCtrl as mainCtrl">
	<h1>Welcome to note!</h1>
	<div>
		<span>Id: {{mainCtrl.note.id}}</span>
		<br />
		<span>Label: {{mainCtrl.note.label}}</span>
		<br />
		<span>Author: {{mainCtrl.note.author}}</span>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	<script type="text/javascript">
		angular.module("noteApp", [])
			.controller("MainCtrl", ["$http", function($http) {
				var self = this;
				$http.get("/note").then(function(response) {
					self.note = response.data;
				}, function(errResponse) {
					console.log("Error occured while fetching data from server");
				})
			}]);
	</script>
</body>
</html>